.chat-main
  .group-info
    .group-info__left-content
      %p{ class: 'group-info__left-content__group'}
        = @group.name
      %ul{ class: 'group-info__left-content__member'}
        member:
        %li{ class: 'group-info__left-content__member-name'}
          - @group.users.each do |user|
            = user.name
    .group-info__right-content
      = link_to edit_group_path(@group), class: "group-info__right-content__edit" do
        Edit
  .message-list
    = render partial: 'message', collection: @messages
  .message-form
    = form_for [@group, @message] do |f|
      .message-form__box
        = f.text_field :content, class: "message-form__box-text", placeholder: "type a messasge"
        = f.label :image, class: "message-form__box-icon" do
          = icon('far', 'image')
          = f.file_field :image , class: "message-form__box-icon-text"
      = f.submit "Send", class: "message-form__box-send"
